BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100

---
Language: Cpp
PointerAlignment: Left
DerivePointerAlignment: false
AccessModifierOffset: -4
NamespaceIndentation: None

---
Language: C
PointerAlignment: Right
DerivePointerAlignment: false
